<nav>
  <div class="logo-container">
    <img
    style="float: left"
    class=""
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1200px-NASA_logo.svg.png"
    alt="NASA logo">
  </div>

  <button
  type="button"
  class="navbar-toggler"
  id="navbar-toggle"
  (click)="onNavbarBtnClick()">
<span class="fa fa-bars"></span></button>

<ul class="social-media-button">
    <li appDropdown>
      <a role="button">
        <span class="fa fa-share-alt"></span>
      </a>
        <ul>
          <li class="facebook"><span class="fa fa-facebook"></span><a href="#"> Facebook </a></li>
          <li class="twitter"><span class="fa fa-twitter"></span><a href="#"> Twitter </a></li>
          <li class="tumblr"><span class="fa fa-tumblr"></span><a href="#"> Tumblr </a></li>
          <li class="pinterest"><span class="fa fa-pinterest"></span><a href="#"> Pinterest </a></li>
          <li class="yahoo"><span class="fa fa-yahoo"></span><a href="#"> Email </a></li>
        </ul>
    </li>
</ul>

<form #searchForm class="search-form">
  <div class="input-group">
    <input
      appDropdown
      (click)="onSearchIconClick()"
      #searchIconBtn
      class="search-btn"
      type="button">
    <input
      #searchInput
      type="text"
      id="search-box"
      class="search-text-input"
      placeholder="Search">
  </div>
</form>

<div #nasatvRep class="nasa-tv"><a routerLink="/nasatv"> NASA TV </a></div>

  <div id="navbar-menu" class="navbar-menu">
      <ul class="navTabs">
        <li appDropdown><a> Topics <span class="fa fa-chevron-down"></span></a>
          <ul>
            <li><a href="">Humans in Space</a></li>
            <li><a href="">Moon to Mars</a></li>
            <li><a href="">Earth</a></li>
            <li><a href="">Space Tech</a></li>
            <li><a href="">Flight</a></li>
            <li><a href="">Solar System and Beyond</a></li>
            <li><a href="">Education</a></li>
            <li><a href="">History</a></li>
            <li><a href="">Benefits to You</a></li>
            <hr>
            <li><a href="">All Topics A-Z</a></li>
          </ul>
        </li>
        <li appDropdown><a> Missions <span class="fa fa-chevron-down"></span></a>
          <ul>
            <li><a href="">International Space Station</a></li>
            <li><a href="">Hubble Space Telescope</a></li>
            <li><a href="">Curiosity Mars Rover</a></li>
            <li><a href="">Parker Solar Probe</a></li>
            <li><a href="">OSIRIS-REx Asteroid Mission</a></li>
            <li><a href="">Juno: Mission at Jupiter</a></li>
            <li><a href="">InSight Mars Landere</a></li>
            <li><a href="">Low-Boom Flight Demonstration</a></li>
            <li><a href="">James Webb Space Telescope</a></li>
            <li><a href="">New Horizons: Pluto and Beyond</a></li>
            <hr>
            <li><a href="">Launches and Landings</a></li>
            <li><a href="">All Missions A-Z</a></li>
          </ul></li>
        <li appDropdown><a> Galleries <span class="fa fa-chevron-down"></span></a>
          <ul>
            <li><a href="">Image of The Day</a></li>
            <li><a href="">Image Galleries</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="">Ultra High-Def Videos</a></li>
            <li><a href="">Usage and Copyright</a></li>
          </ul>
        </li>
        <li class="nasa-tv-inline"><a routerLink="/nasatv"> NASA TV </a></li>
        <li appDropdown><a> Follow NASA <span class="fa fa-chevron-down"></span></a>
          <ul>
            <li><a href="">Social Media</a></li>
            <li><a href="">NASA Socials</a></li>
            <li><a href="">NASA Blogs</a></li>
            <li><a href="">NASA Live</a></li>
            <li><a href="">Get Involved</a></li>
            <li><a href="">Spot the Station</a></li>
        </ul></li>
        <li appDropdown><a> Downloads <span class="fa fa-chevron-down"></span></a>
          <ul>
            <li><a href="">Apps</a></li>
            <li><a href="">Podcasts</a></li>
            <li><a href="">E-Books</a></li>
            <li><a href="">Audio and Ringtones</a></li>
          </ul></li>
        <li appDropdown><a> About <span class="fa fa-chevron-down"></span></a>
          <ul>
            <li><a href="">About NASA</a></li>
            <li><a href="">Leadership</a></li>
            <li><a href="">Organization</a></li>
            <li><a href="">Locations</a></li>
            <li><a href="">Exhibits and Speakers</a></li>
            <li><a href="">Astronauts</a></li>
            <li><a href="">People of NASA</a></li>
            <li><a href="">Careers@NASA</a></li>
          </ul></li>
        <li appDropdown><a> NASA Audiences<span class="fa fa-chevron-down"></span></a>
          <ul>
            <li><a href="">For Media</a></li>
            <li><a href="">For Educators</a></li>
            <li><a href="">For Students</a></li>
          </ul></li>
      </ul>
    </div>
</nav>
