@import '../../scss/mixins';
@import '../../css/navbar-links.css';
@import '../../css/navbar-burger-menu.css';
@import '../../css/navbar-search-form.css';
@import '../../css/navbar-responsive-layout.css';
@import '../../css/navbar-social-media-button.css';

// The navbar
nav {
  background-color: black;
  border-radius: 0;
  height: 85px;
}
// Navbar logo
nav > .navbar-head > img {
  height: 62px;
  margin: 11px -25px 10px 13px;
}

// Reset the navbar hamburger menu button style
button.navbar-toggle,
ul.social-media-button {
  @include button-no-style();
  // other styles is in "../../css/navbar-burger-menu.css"
  // other styles is in "../../css/social-media-button.css"
}
// Navbar collapsible menu all items
nav > .navbar-menu {
  float: right;
}
hr {
  margin: 0;
}
@include media-size-and-font-for-links(1270, 17);
@include media-size-and-font-for-links(1179, 16);
@include media-size-and-font-for-links(1145, 15);
@include media-size-and-font-for-links(1110, 14);
@include media-size-and-font-for-links(1080, 13.5);
@include media-size-and-font-for-links(1065, 13);
@include media-size-and-font-for-links(1026, 12.5);
@include media-size-and-font-for-links(1020, 12);
@include media-size-and-font-for-links(1000, 18);
