/* navbar hamburger menu button */
button.navbar-toggler {
  padding: 26px 0;
  float: right;
}
button.navbar-toggler[aria-expanded="true"] {
  background-color: #0b3d91;
}
button.navbar-toggler[aria-expanded="false"] {
  background-color: none;
}
/* Hamburger menu button icon */
.navbar-toggler > span.fa-bars {
  color: whitesmoke;
  width: 45px;
  font-size: 25px;
}
