@media only screen and (min-width: 1000px) {
  .navbar-menu {
    margin-right: 12px;
    display: block;
  }
  .navbar-toggler {
    display: none;
  }
}
@media only screen and (max-width: 348px) {
  nav > div.nasa-tv > a {
    right: 125px!important
  }
 }
@media only screen and (max-width: 511px) {
   /* Don't show the search box on small screens */
  nav > .search-form > .input-group > input#search-box {
    z-index: -1;
    right: -4px;
    width: 0;
    background-color: transparent;
    -webkit-transition: width 0.4s ease-out 0; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s;
  }
   /* Toggle the searchbox with it's icon */
  nav > .search-form > .input-group > input.search-btn.toggle-open + input#search-box {
    z-index: 1!important;
    background-color:rgba(66, 66, 66, 0.95);
    width: 140px;
    padding-right: 5px;
  }
   /* If the search form is visible then don't show the NASA TV link */
  form.inputChildIsVisible + div.nasa-tv {
    display: none;
  }
   /* End of search box and it's button */
  nav > div.nasa-tv > a {
    right: 142px!important;
  }
}
@media only screen and (max-width: 1000px) {
  nav > form.search-form {
    margin-right: 35px!important;
   }
  nav > .search-form > .input-group > input {
    top: 0;
  }
  nav > .navbar-menu {
    width: 100%!important;
    margin-top: -2px;
    padding: 0;
    background-color: #0B3D91;
    box-shadow: none!important;
    transition: none;
  }
  nav > .navbar-menu > ul.navTabs {
    min-width: 100%;
    margin: 0 0 0 -18px;
    padding-left: 18px;
  }
  nav > .navbar-menu > ul.navTabs > li {
     /* 100 perc width of links on screens of 1000 px wide */
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
   /* Show the separate NASA TV link on small screens */
  nav > div.nasa-tv > a {
    display: block!important;
  }
   /* Hide the inline NASA TV link on the navbar links list */
   nav >
    .navbar-menu >
      ul.navTabs >
        li.nasa-tv-inline {
    display: none!important;
  }
   /* Don't show the vertical lines before the links on
    collapsible links list */
  nav > .navbar-menu > ul.navTabs > li:before {
  display: none;
  }
  nav > .navbar-menu > ul.navTabs > li > a {
    padding: 9px 9px 5px 9px;
    /* Not letting the x-overflow to the body */
    min-width: calc(100% - 18px);
  }
  nav > .navbar-menu > ul.navTabs > li > a:hover {
    background-color: rgba(251, 251, 251, 0.137)!important;
  }
  nav > .navbar-menu > ul.navTabs > li > ul {
    position: relative!important;
    top: 0;
    padding-top: 10px!important;
    background-color: rgba(251, 251, 251, 0.137)!important;
  }
  ul.navTabs > li:last-child > ul {
    width: 100%;
  }
  nav > .navbar-menu > ul.navTabs > li:hover > ul {
    display: none;
  }
  nav > .navbar-menu > ul.navTabs > li > ul > li {
    padding-left: 30px;
  }
  nav > ul.social-media-button {
    margin-right: -8px!important;
  }
  nav > .navbar-menu > ul.navTabs > li.toggle-open > ul,
  nav > ul.social-media-button > li.toggle-open > ul {
    display: block!important;
  }
  .fa.fa-chevron-down {
    display: block;
    color: whitesmoke;
    float: right;
    font-size: 20px;
  }
  nav > ul.social-media-button {
    position: absolute;
    right: 53px
  }
  .navbar-menu {
    display: none;
  }
  .shown {
    display: block!important;
  }
  .navbar-toggler {
    display: block!important;
  }
  /* End of the layout breakpoint */
}
