.navbar-menu {
  margin-top: -20px;
  padding: 0;
}
/* Navbar links */
ul.navTabs {
  float: left;
  padding: 0;
}
ul.navTabs > li {
  float: left;
  padding: 25px 0 14px 0;
  list-style: none;
}
ul.navTabs > li > a  {
  color: white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 13px 12px 9px 12px;
  font: 18px Helvetica, Arial, sans-serif;
}
 /* Don't show chevron down icon near sublinks on large screens */
.fa.fa-chevron-down {
  display: none;
}
 /* NASA TV link for small screens */
div.nasa-tv {
  float: right;
}
div.nasa-tv > a {
  position: absolute;
  top: 0;
  right: 290px;
  padding: 34px 10px 30px 10px;
  text-decoration: none;
  color: white;
  display: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}
 /* Blue background on the navbar links hovering */
ul.navTabs > li:hover,
.navTabs > li > a:hover,
div.nasa-tv:hover,
div.nasa-tv > a:hover {
  background-color: #0B3D91;
}
 /* Creating vertical lines between navbar links */
ul.navTabs > li:before {
  content: "";
  width: 2px;
  float: left;
  background-color: rgba(223, 223, 223, 0.4);
  padding-top: 50px;
}
ul.navTabs > li:nth-child(1)::before {
  opacity: 0
}
ul.navTabs > li:hover:before,
ul.navTabs > li:hover + li:before {
  opacity: 0;
}
 /* End of vertical lines */
 /* Navbar Sublinks unordered list */
ul.navTabs > li > ul {
  display: none;
  position: absolute;
  background-color:  #0B3D91;
  top: 85px;
  padding: 0 0 0 0;
  font: 17px Helvetica, Arial, sans-serif;
}
ul.navTabs > li:last-child > ul {
  width: 170px;
}
 /* Showing sublinks when hovering on main navbar links for large screens */
ul.navTabs > li:hover > ul {
  display: block;
  padding-top: 10px
}
ul.navTabs > li > ul > li {
  /* min-width: max-content!important; */
  list-style: none;
  line-height: 32px;
  padding: 5px 10px;
}
ul.navTabs > li > ul > li:hover {
  cursor: pointer;
  background-color: rgba(10, 45, 105, 0.877)
}
ul.navTabs > li > ul > li > a,
ul.navTabs > li > ul > li > a:hover {
  text-decoration: none;
  display: block;
  width: 100%;
  color: whitesmoke
}
ul.navTabs > li > ul > li:first-child {
  margin-top: -10px;
}
 /* End of navbar sublinks unordered list */
 /* End of Navbar links */
