 /* navbar hamburger menu button */
button.navbar-toggle {
  cursor: pointer;
  right: -25px;
  margin-right: 24px;
  margin-top: -85px;
  padding: 30px 0 27px 0;
}
button.navbar-toggle[aria-expanded="true"]{
  background-color: #0B3D91;
}
button.navbar-toggle[aria-expanded="false"]{
  background-color: none;
}
 /* Hamburger menu button icon */
.navbar-toggle > span.glyphicon-menu-hamburger {
  color: whitesmoke;
  width: 45px;
  font-size: 25px;
}
