@mixin button-no-style {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}
@mixin media-size-and-font-for-links($size, $font) {
  @media only screen and (max-width: $size + px) {
    // Navbar links
    ul.navTabs > li > a {
      font-size: $font + px;
    }
  }
}
